ul{
  padding: 0px;
}
li.bookList {
  text-align: center;
  width: 50vw;
  margin:0.2em 20%;
  padding:0.5em 0.5em;
  list-style:none;
  font-weight: 700;
  background-color:rgba(243,243,243,.9);
  border-left:4.5px double rgba(2,179,228,0.75);
  border-right:4.5px double rgba(2,179,228,0.75);
  color:#333;
  position:relative;
}
.recentUsers li {
  position: relative;
  width: 30vw;
  margin:0.1em auto 0.1em auto;
  padding:0.2em ;
  list-style:none;
  font-weight: 550;
  background-color:rgba(253,253,253,.7);
  border: none;
  color:#333;
  position:relative;
  font-size: .9em;
}
.recentUsers {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.recentUsers li:hover {
  border-right: 2px solid rgba(183,183,183,.7);
  cursor: pointer;
}
/*Book list of books recently visited :: nested ul inside of each recent user*/
li.user-book-list {
  text-align: center;
  margin:0.1em 2em 0.1em 2em;
  padding:0.2em ;
  list-style:none;
  font-weight: 550;
  background-color:rgba(203,203,203,.4);
  border: none;
  color:#333;
  position:relative;
  font-size: 1.0em;
}
.conatiner-user-info{
  position: fixed;
  display: block;
  align-content: center;
  z-index: 5;
  top: 255px;
  border-radius: 15px;
  height: auto;
  width: auto;
  background: rgba(253,253,253,1);
  border: 5px solid rgba(203,203,203,.9);
}
h3 {
  text-align: center;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* +++++++++++++++++ media queries +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 400px) {
  .conatiner-user-info{
    top: 30%;
  }
}

