h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.5em;
  padding: 5px 20px;
}
a {
  width: 250px;
  outline: none; 
  height: 100px;
  border-radius: 50px;
  background-color: rgba(2,179,228,0.75);
  border: 0.12rem solid transparent;
  color: white;
  box-shadow: 8px 10px 15px 0px rgba(46,61,73,0.25);
  border-radius: 0.35rem;
  font-size: .85em;
  text-align: center;
  transition: 0.2s ease;
  padding: 5px 10px;
  font-size: 1.2em;
  text-decoration: none;
  margin: 5px 8px;
}
a:hover {
  box-shadow: 2px 3px 15px 0px rgba(46,61,73,0.45);
  transition: all 0.4s ease;
  background-color: rgba(2,179,228,1);
  cursor:pointer;
  color: white;
}
nav a.active {
  background-color:rgba(2,179,228,0.75);
  color: white;
  border: 0.15rem solid rgba(183,183,183,1);
  box-shadow: none;
}
.banner {
  margin-bottom: 25px;
}
hr {
  width: 75vw;
   border-color: rgba(243,243,243,.4);
}

/* +++++++++++++++++ media queries +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 380px) {
  div.banner{
    height: 40vh;
  }
  nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
  }
  a {
    width: 68vw;
    position: relative;
    margin: 5px auto;

  }
  .banner {
  margin-bottom: 15px;
}
}